@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin displays {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

$main-white-color: #FCFCFC;

header {
    background-image: url("/imgs/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

nav {
    .container {
        @include displays();
        padding: 30px 0px;

        .nav_logo {
            @include displays();
        }

        .links {
            @include displays();
            gap: 35px;

            li {
                font-size: 16px;
                font-weight: 600;
                color: $main-white-color;
                cursor: pointer;
            }
        }

        .icons {
            @include displays();
            gap: 8px;
            color: $main-white-color;

        }

    }

}

.hero {
    .container {
        .hero_content {
            display: flex;
            align-items: start;
            flex-direction: column;
            margin-top: 45px;

            h1 {
                font-size: 56px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 2px;
                color: $main-white-color;
            }

            p {
                width: 425px;
                color: $main-white-color;
                font-size: 12px;
                letter-spacing: 2px;
                line-height: 16px;
                margin-top: 30px;
            }



        }

        .hero_btns {
            button {
                font-size: 14px;
                font-weight: 500;
                background: transparent;
                letter-spacing: 2px;
                padding: 10px 38px;
                cursor: pointer;
                color: $main-white-color;
                border: 1px solid $main-white-color;
                border-radius: 100px;
                margin-top: 60px;
                margin-bottom: 93px;

            }
        }
    }
}

.new-products {
    padding: 120px 0;
    background: #fff;
    text-align: center;

    .new-products_title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 50px;
        position: relative;
        color: #505050;

        &::after {
            content: "";
            width: 80px;
            height: 3px;
            background: #e53935;
            display: block;
            margin: -50px auto 0;
            border-radius: 2px;
        }
    }

    .new-products_list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .new-products_card {
        width: 300px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        text-align: left;
        margin-top: 40px;

        .new-products_card_image {
            height: 200px;
            background: #f3f3f3;
            @include displays();
          

            img {
                max-width: 85%;
                transform: rotate(-20deg);
            }
        }

        .new-products_card_body {
            padding: 20px;
        }

        .new-products_card_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;
        }

        .new-products_card_brand {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .new-products_card_price {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .new-products_card_desc {
            font-size: 12px;
            color: #777;
            margin-bottom: 12px;
        }

        .new-products_card_colors {
            font-size: 11px;
            color: #999;
        }
    }
}

.popular-finds {
    padding: 120px 0;
    background: #fff;
    text-align: center;
    background-color: #D3D3D3;

    .popular-finds_title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 50px;
        position: relative;
        color: #505050;

        &::after {
            content: "";
            width: 80px;
            height: 3px;
            background: #e53935;
            display: block;
            margin: -50px auto 0;
            border-radius: 2px;
        }
    }

    .popular-finds_list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .popular-finds_card {
        width: 300px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        text-align: left;
        margin-top: 40px;

        .popular-finds_card_image {
            height: 200px;
            background: #f3f3f3;
            @include displays();

            img {
                max-width: 85%;
                transform: rotate(-20deg);
            }
        }

        .popular-finds_card_body {
            padding: 20px;
        }

        .popular-finds_card_top {
            @include displays();
            margin-bottom: 6px;
        }

        .popular-finds_card_brand {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .popular-finds_card_price {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .popular-finds_card_desc {
            font-size: 12px;
            color: #777;
            margin-bottom: 12px;
        }

        .new-products_card_colors {
            font-size: 11px;
            color: #999;
        }
    }
}