@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

header {
  background-image: url("/imgs/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}
nav .container .nav_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
nav .container .links li {
  font-size: 16px;
  font-weight: 600;
  color: #FCFCFC;
  cursor: pointer;
}
nav .container .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #FCFCFC;
}

.hero .container .hero_content {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 45px;
}
.hero .container .hero_content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
  color: #FCFCFC;
}
.hero .container .hero_content p {
  width: 425px;
  color: #FCFCFC;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  margin-top: 30px;
}
.hero .container .hero_btns button {
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  letter-spacing: 2px;
  padding: 10px 38px;
  cursor: pointer;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
  border-radius: 100px;
  margin-top: 60px;
  margin-bottom: 93px;
}

.new-products {
  padding: 120px 0;
  background: #fff;
  text-align: center;
}
.new-products .new-products_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;
  color: #505050;
}
.new-products .new-products_title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #e53935;
  display: block;
  margin: -50px auto 0;
  border-radius: 2px;
}
.new-products .new-products_list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.new-products .new-products_card {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  margin-top: 40px;
}
.new-products .new-products_card .new-products_card_image {
  height: 200px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-products .new-products_card .new-products_card_image img {
  max-width: 85%;
  transform: rotate(-20deg);
}
.new-products .new-products_card .new-products_card_body {
  padding: 20px;
}
.new-products .new-products_card .new-products_card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.new-products .new-products_card .new-products_card_brand {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.new-products .new-products_card .new-products_card_price {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.new-products .new-products_card .new-products_card_desc {
  font-size: 12px;
  color: #777;
  margin-bottom: 12px;
}
.new-products .new-products_card .new-products_card_colors {
  font-size: 11px;
  color: #999;
}

.popular-finds {
  padding: 120px 0;
  background: #fff;
  text-align: center;
  background-color: #D3D3D3;
}
.popular-finds .popular-finds_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;
  color: #505050;
}
.popular-finds .popular-finds_title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #e53935;
  display: block;
  margin: -50px auto 0;
  border-radius: 2px;
}
.popular-finds .popular-finds_list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.popular-finds .popular-finds_card {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  margin-top: 40px;
}
.popular-finds .popular-finds_card .popular-finds_card_image {
  height: 200px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-finds .popular-finds_card .popular-finds_card_image img {
  max-width: 85%;
  transform: rotate(-20deg);
}
.popular-finds .popular-finds_card .popular-finds_card_body {
  padding: 20px;
}
.popular-finds .popular-finds_card .popular-finds_card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.popular-finds .popular-finds_card .popular-finds_card_brand {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.popular-finds .popular-finds_card .popular-finds_card_price {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.popular-finds .popular-finds_card .popular-finds_card_desc {
  font-size: 12px;
  color: #777;
  margin-bottom: 12px;
}
.popular-finds .popular-finds_card .new-products_card_colors {
  font-size: 11px;
  color: #999;
}

.gear {
  padding: 80px 0;
  background: #fff;
}
.gear .gear-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
  position: relative;
}
.gear .gear-title::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #ff3b6b;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.gear .gear-grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 24px;
}
.gear .gear-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 500px;
  width: 500px;
}
.gear .gear-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.gear .gear-card .gear-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: #EAEAEA;
}
.gear .gear-card .gear-info:hover {
  background-color: #000;
  color: white;
}
.gear .gear-card .gear-info h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.gear .gear-card .gear-info p {
  font-size: 13px;
  opacity: 0.8;
}

.footer .container {
  color: white;
  margin: 0 auto;
  max-width: 1400px;
  background: gray;
}
.footer .container .links {
  display: flex;
  gap: 80px;
}
.footer .container .links div h4 {
  margin-bottom: 12px;
  font-size: 14px;
}
.footer .container .links div a {
  display: block;
  font-size: 13px;
  color: #ddd;
  margin-bottom: 6px;
  text-decoration: none;
}
.footer .container .links div a:hover {
  color: #fff;
}
.footer .container .brand {
  text-align: right;
}
.footer .container .brand img {
  margin-top: -40px;
}
.footer .container .brand .social {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.footer .container .brand .social i {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.footer .container .footer-bottom {
  background: linear-gradient(#2b2b2b, #1f1f1f);
  color: #aaa;
  font-size: 12px;
  padding: 10px 0;
  border-top: 1px solid #444;
}/*# sourceMappingURL=main.css.map */